@model IEnumerable<Projeto.Models.Entrada>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Insert")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodEntrada)
        </th>
        <th>
            @Html.DisplayName("Transportadora")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPed)
           
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEntr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Frete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumNf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imposto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transportadora.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPed,new {  @Value = item.DataEntr.ToString("yyyy-MM-dd") })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataEntr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Frete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumNf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imposto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CodEntrada  }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
