<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Projeto", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Categoria", "Index", "Categoria")</li>
                    <li>@Html.ActionLink("Cidade", "Index", "Cidade")</li>
                    <li>@Html.ActionLink("Loja", "Index", "Loja")</li>
                    <li>@Html.ActionLink("Transportadora", "Index", "Transportadora")</li>
                    <li>@Html.ActionLink("Produto", "Index", "Produto")</li>
                    <li>@Html.ActionLink("Fornecedor", "Index", "Fornecedor")</li>
                    <li>@Html.ActionLink("ItemEntrada", "Index", "ItemEntrada")</li>
                    <li>@Html.ActionLink("ItemSaida", "Index", "ItemSaida")</li>                 
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Projeto</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
