@model IEnumerable<Projeto.Models.ItemEntrada>

@{
    ViewBag.Title = "Item Entrada";
}

<h1>Item Entrada</h1>

<p>
    @Html.ActionLink("Adicionar", "Insert")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodItemEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Lote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qtde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CodItemEntrada)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Entrada_CodEntrada)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Produto.Descricao)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Lote)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Qtde)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Valor)
    </td>
    
</tr>
}

</table>
